1.Create and Access List Elements

In [10]:
#Create a list containing five different fruits and print the third fruit.

my_list=['apple','Banana ','Orange ','Grapes ','Watermelon ']
my_list[2]

'Orange '

Concatenate Two Lists

In [12]:
#Create two lists of numbers and concatenate them into a single list.

my_list1=[1,2,3,4]
other_list=[5,6,7,8,9]
my_list1.extend(other_list)
my_list1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

3.Extract Elements from a List

In [16]:
Numbers=[1,3,5,7,9,11]
first=Numbers[0]
Second=Numbers[int(len(Numbers)/2)]
Last=Numbers[-1]

Ajratilgan=[first,Second,Last]
print(Ajratilgan)

[1, 7, 11]

4.Convert List to Tuple

In [1]:
my_list3=['Inception','The Shawshank Redemption','Forrest Gump','The Dark Knight','Interstellar']
my_tuple=tuple(my_list3)
my_tuple

('Inception',
 'The Shawshank Redemption',
 'Forrest Gump',
 'The Dark Knight',
 'Interstellar')

5.Check Element in a List

In [7]:
cities=['London','Tashkent','Samarqand','Buxoro','Namangan','Paris']
if 'Paris' in cities:
    print('Paris in the list')
else:
    print('Paris is not in the list')

Paris in the list

6.Duplicate a List Without Using Loops

In [ ]:
#First 
Number=[1,2,3,4,5,6,7]
duplicate=list(Number)
print(duplicate)
#Second
duplicate=Number.copy()
print(duplicate)

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]

 7.Swap First and Last Elements of a List

In [18]:
numbers = [1, 2, 3, 4, 5]

first = numbers.pop(0)       # 0-chi (birinchi) elementni olib tashlaymiz va saqlaymiz
last = numbers.pop(-1)       # oxirgi elementni olib tashlaymiz va saqlaymiz

numbers.insert(0, last)      # oxirgi elementni boshiga qo‘shamiz
numbers.append(first)        # birinchi elementni oxiriga qo‘shamiz

print(numbers)  # [5, 2, 3, 4, 1]

[5, 2, 3, 4, 1]

8.Slice a Tuple

In [19]:
#Create a tuple of numbers from 1 to 10 and print a slice from index 3 to 7.

my_tuple=[1,2,3,4,5,6,7,8,9,10]
print(my_tuple[3:7])

[4, 5, 6, 7]

9.Count Occurrences in a List

In [ ]:
#Create a list of colors and count how many times "blue" appears in the list.
colour=['blue','green','red','black','blue']
count=colour.count('blue')
print(count)

2

10. Find the Index of an Element in a Tuple

In [21]:
#Given a tuple of animals, find the index of "lion".

animals = ('cat', 'dog', 'lion', 'tiger')

lion_index_number = animals.index('lion')
print(lion_index_number)

2

11.Merge Two Tuples

In [24]:
#Merge Two Tuples
tuple1=[1,2,3,4]
tuple2=[5,6,7,8,9]
merged=tuple1+tuple2
print(merged)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

12.Find the Length of a List and Tuple

In [25]:
my_list = [10, 20, 30, 40, 50]
my_tuple = ('a', 'b', 'c', 'd')


list_length = len(my_list)
tuple_length = len(my_tuple)


print(list_length)
print(tuple_length)

5
4

13.Convert Tuple to List

In [26]:
#Create a tuple of five numbers and convert it into a list.
my_tuple = (1,2,5,9,10,12)
my_list4=list(my_tuple)
print(my_list4)

[1, 2, 5, 9, 10, 12]

14.Find Maximum and Minimum in a Tuple

In [31]:
Num=[1,2,3,4,5,6,7,8,98]
type=sorted(Num,reverse=True)
max_num=type[0]
min_num=type[-1]
print(max_num)
print(min_num)

98
1

15.Reverse a Tuple

In [36]:
#Create a tuple of words and print it in reverse order.

Words=['Salom','Python','Darsi']
my_tuple=tuple(Words)
reversed_tuple=tuple(reversed(my_tuple))
print(reversed_tuple)

('Darsi', 'Python', 'Salom')