1. Age Calculator

In [1]:
# Foydalanuvchidan ma'lumotlarni so'raymiz
name = input("Ismingizni kiriting: ")
birth_year = int(input("Tugâ€˜ilgan yilingizni kiriting: "))

# Hozirgi yil
current_year = 2025

# Yoshni hisoblaymiz
age = current_year - birth_year

# Natijani chiqaramiz
print(f"Salom, {name.title()}! Siz {age} yoshdasiz.")

Salom, Subxonali! Siz 27 yoshdasiz.

2.Extract Car Names

In [2]:
txt = 'LMaasleitbtui'

print(txt[1:12:2])

Malibu

3.Extract Car Names

In [3]:
txt = 'MsaatmiazD'
print(txt[0:9:2])

Matiz

4.Extract Residence Area

In [5]:
txt = "I'am John. I am from London"
print(txt[-6:])

London

5.Reverse String

In [8]:
Ism=input('Ism kiriting: ')
print(Ism[::-1])

ilA

6.Count Vowels

In [9]:
String='Salom Pyhton'
String_length=len(String)
print(String_length)

12