# Homewrok1

In [1]:
import pandas as pd
import numpy as np

# Asosiy ma'lumotlar
data = {
    'First Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)

# 1. Column nomlarini funksional tarzda o'zgartirish
df.columns = [col.lower().replace(' ', '_') for col in df.columns]

# 2. Birinchi 3 qatorni chiqarish
print("First 3 rows:\n", df.head(3))

# 3. O'rtacha yoshni topish
mean_age = df['age'].mean()
print("\nMean age:", mean_age)

# 4. Faqat name (first_name) va city ustunlarini chiqarish
print("\nName and City columns:\n", df[['first_name', 'city']])

# 5. Tasodifiy oylik (salary) ustunini qo'shish
df['salary'] = np.random.randint(4000, 10000, size=len(df))

# 6. Umumiy statistik ma'lumotlarni chiqarish
print("\nSummary statistics:\n", df.describe())

First 3 rows:
   first_name  age           city
0      Alice   25       New York
1        Bob   30  San Francisco
2    Charlie   35    Los Angeles

Mean age: 32.5

Name and City columns:
   first_name           city
0      Alice       New York
1        Bob  San Francisco
2    Charlie    Los Angeles
3      David        Chicago

Summary statistics:
              age      salary
count   4.000000     4.00000
mean   32.500000  7272.75000
std     6.454972  2113.16877
min    25.000000  4826.00000
25%    28.750000  6401.00000
50%    32.500000  7147.00000
75%    36.250000  8018.75000
max    40.000000  9971.00000

# Homework 2: Sales and Expenses Analysis

In [2]:
# DataFrame yaratish
data2 = {
    'Month': ['Jan', 'Feb', 'Mar', 'Apr'],
    'Sales': [5000, 6000, 7500, 8000],
    'Expenses': [3000, 3500, 4000, 4500]
}

sales_and_expenses = pd.DataFrame(data2)

# Maksimumlar
print("Max Sales:", sales_and_expenses['Sales'].max())
print("Max Expenses:", sales_and_expenses['Expenses'].max())

# Minimumlar
print("Min Sales:", sales_and_expenses['Sales'].min())
print("Min Expenses:", sales_and_expenses['Expenses'].min())

# O'rtacha qiymatlar
print("Average Sales:", sales_and_expenses['Sales'].mean())
print("Average Expenses:", sales_and_expenses['Expenses'].mean())
# DataFrame yaratish
data2 = {
    'Month': ['Jan', 'Feb', 'Mar', 'Apr'],
    'Sales': [5000, 6000, 7500, 8000],
    'Expenses': [3000, 3500, 4000, 4500]
}

sales_and_expenses = pd.DataFrame(data2)

# Maksimumlar
print("Max Sales:", sales_and_expenses['Sales'].max())
print("Max Expenses:", sales_and_expenses['Expenses'].max())

# Minimumlar
print("Min Sales:", sales_and_expenses['Sales'].min())
print("Min Expenses:", sales_and_expenses['Expenses'].min())

# O'rtacha qiymatlar
print("Average Sales:", sales_and_expenses['Sales'].mean())
print("Average Expenses:", sales_and_expenses['Expenses'].mean())

Max Sales: 8000
Max Expenses: 4500
Min Sales: 5000
Min Expenses: 3000
Average Sales: 6625.0
Average Expenses: 3750.0
Max Sales: 8000
Max Expenses: 4500
Min Sales: 5000
Min Expenses: 3000
Average Sales: 6625.0
Average Expenses: 3750.0

# Homework 3: Monthly Category Expenses

In [3]:
# Ma'lumotlar
data3 = {
    'Category': ['Rent', 'Utilities', 'Groceries', 'Entertainment'],
    'January': [1200, 200, 300, 150],
    'February': [1300, 220, 320, 160],
    'March': [1400, 240, 330, 170],
    'April': [1500, 250, 350, 180]
}

expenses = pd.DataFrame(data3)

# Category ustunini indexga aylantirish
expenses = expenses.set_index('Category')

# Har bir kategoriya boâ€˜yicha maksimal xarajat
print("\nMax expense for each category:\n", expenses.max(axis=1))

# Minimum xarajatlar
print("\nMin expense for each category:\n", expenses.min(axis=1))

# O'rtacha xarajatlar
print("\nAverage expense for each category:\n", expenses.mean(axis=1))

Max expense for each category:
 Category
Rent             1500
Utilities         250
Groceries         350
Entertainment     180
dtype: int64

Min expense for each category:
 Category
Rent             1200
Utilities         200
Groceries         300
Entertainment     150
dtype: int64

Average expense for each category:
 Category
Rent             1350.0
Utilities         227.5
Groceries         325.0
Entertainment     165.0
dtype: float64