# Homeworks
## 1. Modify String with Underscores
## Given a string txt, insert an underscore (_) after every third character. If a character is a vowel or already has an underscore after it, shift the underscore placement to the next character. No underscore should be added at the end.

In [2]:
def insert_underscores(txt):
    vowels = "aeiou"
    i = 0
    count = 0
    result = ""

    while i < len(txt):
        result += txt[i]
        count += 1

        if count == 3:
            # Check next character if exists
            if i + 1 < len(txt) and (txt[i + 1] in vowels or txt[i + 1] == '_'):
                if i + 2 < len(txt):
                    result += txt[i + 1]
                    result += "_"
                    i += 1  # shift
            else:
                result += "_"
            count = 0  # reset counter
        i += 1

    # Remove underscore if it is at the end
    if result.endswith("_"):
        result = result[:-1]

    return result


print(insert_underscores("hello"))              # hel_lo
print(insert_underscores("assalom"))            # ass_alom
print(insert_underscores("abcabcabcdeabcdefabcdefg"))  # abc_abc_abcd_abcd_abcdef

hel_lo
assa_lom
abca_bca_bcde_abc_defa_bcde_fg

# 2. Integer Squares Exercise
## Task
## The provided code stub reads an integer, n, from STDIN. For all non-negative integers i where 0 <= i < n, print i^2.

In [3]:
n = int(input())

for i in range(n):
    print(i * i)

0
1
4
9
16

# 3. Loop-Based Exercises
## Exercise 1: Print first 10 natural numbers using a while loop

In [4]:
i = 1  # Boshlanish nuqtasi

while i <= 10:
    print(i)
    i += 1  # i ni 1 taga oshiramiz

1
2
3
4
5
6
7
8
9
10

# Exercise 2: Print the following pattern
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [5]:
for i in range(1, 6):  # 1 dan 5 gacha (shu qatlar soni)
    for j in range(1, i + 1):  # Har bir qatorda 1 dan i gacha
        print(j, end=" ")
    print()  # Har qatordan keyin yangi qatorga o‘tamiz

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [6]:
i = 1
while i <= 5:
    j = 1
    while j <= i:
        print(j, end=" ")
        j += 1
    print()
    i += 1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

Exercise 3: Calculate sum of all numbers from 1 to a given number
Example:

Enter number 10
Sum is: 55

In [7]:
n = int(input("Enter number: "))
total = 0

for i in range(1, n + 1):
    total += i

print("Sum is:", total)

Sum is: 55

Exercise 5: Display numbers from a list using a loop
Given:

numbers = [12, 75, 150, 180, 145, 525, 50]
Expected Output:

75
150
145

In [9]:
numbers = [12, 75, 150, 180, 145, 525, 50]

for num in numbers:
    if num > 500:
        break
    if num > 100 and num < 500:
        print(num)

150
180
145

Exercise 6: Count the total number of digits in a number
Example:

75869
Output: 5

In [10]:
number = input("Enter a number: ")
# Remove possible negative sign
number = number.lstrip('-')

print(len(number))

5

Exercise 7: Print reverse number pattern
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [11]:
n = 5

for i in range(n, 0, -1):
    for j in range(i, 0, -1):
        print(j, end=' ')
    print()  # Newline after each row

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

Exercise 8: Print list in reverse order using a loop
Given:

list1 = [10, 20, 30, 40, 50]
Expected Output:

50
40
30
20
10

In [12]:
list1 = [10, 20, 30, 40, 50]

# Loop from the last index to the first
for i in range(len(list1) - 1, -1, -1):
    print(list1[i])

50
40
30
20
10

Exercise 9: Display numbers from -10 to -1 using a for loop
-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [13]:
for i in range(-10, 0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

Exercise 10: Display message “Done” after successful loop execution
Example:

0
1
2
3
4
Done!

In [14]:
for i in range(5):
    print(i)
print("Done!")

0
1
2
3
4
Done!

Exercise 11: Print all prime numbers within a range
Example:

Prime numbers between 25 and 50:
29
31
37
41
43
47

In [15]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

start = 25
end = 50

print(f"Prime numbers between {start} and {end}:")
for number in range(start, end + 1):
    if is_prime(number):
        print(number)

Prime numbers between 25 and 50:
29
31
37
41
43
47

Exercise 12: Display Fibonacci series up to 10 terms
Example:

Fibonacci sequence:
0  1  1  2  3  5  8  13  21  34

In [16]:
n_terms = 10
a, b = 0, 1
print("Fibonacci sequence:")
for _ in range(n_terms):
    print(a, end='  ')
    a, b = b, a + b

Fibonacci sequence:
0  1  1  2  3  5  8  13  21  34

Exercise 13: Find the factorial of a given number
Example:

5! = 120

In [17]:
def factorial(n):
    result = 1
    for i in range(2, n + 1):
        result *= i
    return result

number = 5
print(f"{number}! = {factorial(number)}")

5! = 120

4. Return Uncommon Elements of Lists
Task
Return the elements that are not common between two lists. The order of elements does not matter.

Examples
Input: list1 = [1, 1, 2], list2 = [2, 3, 4]
Output: [1, 1, 3, 4]

Input: list1 = [1, 2, 3], list2 = [4, 5, 6]
Output: [1, 2, 3, 4, 5, 6]

Input: list1 = [1, 1, 2, 3, 4, 2], list2 = [1, 3, 4, 5]
Output: [2, 2, 5]

In [18]:
list1 = [1, 1, 2, 3, 4, 2]
list2 = [1, 3, 4, 5]

result = []

# Birinchi listdagi har bir element uchun:
for item in list1:
    # Agar u ikkinchi listda mavjud bo'lmasa yoki uning soni kam bo'lsa, natijaga qo'shamiz
    if list2.count(item) < list1.count(item):
        # Har safar takrorlanishlarni hisoblash uchun natijadagi sonini ham tekshiramiz
        if result.count(item) < list1.count(item) - list2.count(item):
            result.append(item)

# Endi ikkinchi listdagi har bir element uchun:
for item in list2:
    if list1.count(item) < list2.count(item):
        if result.count(item) < list2.count(item) - list1.count(item):
            result.append(item)

print(result)

[1, 2, 2, 5]